// Brand colors
//––––––––––––––––––––––––––––––––––––––––––––––––––

$primary-color:		#003466 !default;	
$secondary-color:	#B20000 !default;	
$territory-color:	#0099FF !default;	
$main-head:			#003267 !default;	
$text-color:	    #777777 !default;


//––––––––––––––––––––––––––––––––––––––––––––––––––

$white:      #fff    !default;
$black:      #000    !default;
$red:        #f00    !default;
$green:      #18aa9d !default;
$blue:       #098496 !default;
$gray-light: #ddd    !default;
$gray:       #767676 !default;
$gray-dark:  #333    !default;
$border:     #ccc    !default;

// Line height

$base-line-height: 1.4;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Border

$base-border: 1px solid $border;

// Font stack
//––––––––––––––––––––––––––––––––––––––––––––––––––
$body-font:'Open Sans', sans-serif;




// The base body size
//––––––––––––––––––––––––––––––––––––––––––––––––––


// Font size


$one:			    0.0625rem !default;		// 1px
$sm:			    0.75rem !default;		// 12px
$sm1:			    0.8125rem !default;		// 13px

$text-sm:			0.875rem !default;		// 14px
$text-md:			0.9375rem !default;		// 15px
$base-font:			1rem !default;		    // 16px

$sub-text:			1.063rem !default;		// 17px
$sub-text-md:		1.125rem !default;		// 18px
$h6:	     		1.188rem !default;		// 19px
$h5:				1.25rem !default;		// 20px
$h4:				1.375rem !default;	  	// 22px
$h3-alt:			1.5rem !default;		// 24px
$h3:				1.625rem !default;	  	// 26px

$h2:			    1.875rem !default;		// 30px
$h2-alt:			2.25rem !default;		// 36px
$h1-alt:			2.5rem !default;	  	// 40px
$h1:				3.125rem !default;	  	// 50px
$page-title:		4.375rem !default;		// 70px
$banner-text:		4.063rem !default;		// 65px

// Monospace font stack
//––––––––––––––––––––––––––––––––––––––––––––––––––


